ARTEMIS_PASSWORD=clearflow123
ARTEMIS_USER=clearflow
SOLACE_ADMIN_PASSWORD=admin
ORACLE_PASSWORD=clearflow123
REDIS_PASSWORD=clearflow123
VAULT_TOKEN=clearflow-dev-token
OAUTH2_ISSUER_URI=http://localhost:8090/realms/clearflow
KAFKA_BROKERS=kafka:9092
REDIS_HOST=redis
ARTEMIS_HOST=activemq-artemis
LGBM_MODEL_SERVER_URL=http://lightgbm:8091
GRAFANA_PASSWORD=admin
SONAR_DB_PASSWORD=sonar
